<nav class="navbar navbar-light" style="background-color:white;">
   <a class="nav-link dropdown-toggle" href="#"><font color="black">Electronics</font></a>
   <a class="nav-link dropdown-toggle" href="#"><font color="black">Tv&Appliances</font></a>
   <a class="nav-link dropdown-toggle" href="#"><font color="black">Men</font></a>
   <a class="nav-link dropdown-toggle" href="#"><font color="black">Women</font></a>
   <a class="nav-link dropdown-toggle" href="#"><font color="black">Baby&Kids</font></a>
   <a class="nav-link dropdown-toggle" href="#"><font color="black">Home&Furniture</font></a>
   <a class="nav-link dropdown-toggle" href="#"><font color="black">Sports,Books&More</font></a>
   <a class="nav-link dropdown-toggle" href="#"><font color="black">Flights</font></a>
   <a class="nav-link dropdown-toggle" href="#"><font color="black">Offer zone</font></a><!-- Navbar content -->
</nav>
